mage 1.14.0
ginkgo 2.13.2
golang 1.20.3
golangci-lint 1.55.2
kind 0.17.0
kubectl 1.23.5
helmfile 0.150.0
helm 3.11.1
helm-diff 3.6.0
argocd 2.9.1
docker-compose-v1 2.17.3
yamllint 1.26.3
yq 4.34.2
jq 1.6
catalog-cli 0.7.0
catalog-schema-tool 0.7.7
grpcurl 1.8.9
yamllint 1.26.3
terraform-docs 0.17.0
